@using Auction.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div><td><a href="/Lots/CreateLot">Добавить лот</a></td></div>
<div class="Lot">
    <table>
        <tr>
            <td>Имя</td>
            <td>Описание</td>
            <td>Цена</td>
            <td>Дата окончания</td>
            <td>Текущая ставка</td>
            <td></td>
        </tr>
        @foreach (var x in ViewBag.Lots)
        {
            <tr>
                <td>
                    <p>@x.Name</p></td>
                <td>
                    <p>@x.Description</p></td>
                <td>
                    <p>@x.StartPrice</p></td>
                <td>
                    <p>@x.EndOfAuctionDate</p></td>
                <td>
                    <p>@x.CurrentPrice</p></td>
                <td><a href="/Lots/Bet?lotId=@x.Id">Сделать ставку</a></td>
            </tr>
        }
    </table>

</div>
</body>
</html>