@using Auction.DataBaseConnection
@using Auction.DataBaseConnection.Factory
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <div class="content-top">
        @foreach (var c in User.Claims)
        {
            <script>
            function check(input) {                 
                if (input.value <= @Factory.GetProfileBalanace(DatabaseConnection.GetProfileBalanace(Convert.ToInt32(@c.Value)))) {
                    input.setCustomValidity('');
                } 
                else {
                    input.setCustomValidity('Not enough money');
                }
            }
            </script>
        }
            @foreach (var lot in Factory.GetLot(DatabaseConnection.GetLotInformation(@ViewBag.LotId)))
        {
            <div class="col-md-9 product-price1">
                <div class="col-md-5 single-top">
                    <img class="img-responsive" src="@lot.Image" alt="">
                </div>
                <div class="col-md-7 single-top-in simpleCart_shelfItem">
                    <div class="single-para ">
                        <h4>@lot.Name</h4>
                        <h3 style="color: blue">@lot.EndOfAuctionDate</h3>
                        <h5 class="item_price">$@lot.CurrentPrice</h5>
                        <br>
                        @if (User.Identity.IsAuthenticated && lot.SoldOut==0)
                        {
                            <div class="col-md-6 register-bottom-grid" align="center">
                                <form method="post" action="Bet">
                                    <input type="hidden" value="@foreach (var c in User.Claims){@c.Value}" name="ProfileId"/>
                                    <input type="hidden" value="@ViewBag.lotId.ToString()" name="LotId"/>
                                    <input type="hidden" value="Lot?lotId=@lot.Id" name="returnUrl"/>
                                    <input type="text" name="Bet" oninput="check(this)"/>
                                    <input type="submit" value="Bet"/>
                                </form>
                            </div>
                            <br>
                            <h3>Введите вашу ставку</h3>
                            <br>
                            <br>
                            <br>
                        }
                    </div>
                    <br>
                    <h4>@lot.Description</h4>
                </div>
                <div class="clearfix"> </div>
                <!---->
                <br>
            </div>
        }
        
    </div>
</div>
</body>
</html>